h4 {
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;


}

p {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}


body {
    background-color: rgba(195, 217, 24, 0.45);
    margin: 0;
}

* {
    box-sizing: border-box;
}


/*Splash*/

.splash {
    background-image: url(splashbillede/ecoego_splash_baggrundv2.png);

    width: 100%;
    background-repeat: no-repeat;

}

.logo img {

    width: 20%;
}


/*nav bar*/

* {
    box-sizing: border-box;
}



nav {
    background-color: white;
    margin: 0px;

}




.nav_con {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav_item {}

.dropdown_con {
    display: flex;
    flex-direction: row;

}

.dropdown_item {}

.dropdown_item:hover .dropdown_content {
    display: block;
    flex-wrap: wrap;
}


.dropbtn {

    background-color: white;

    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;

    border: none;
    padding: 10px 15px;


}

.dropdown_content {

    background-color: white;

    display: none;
    position: absolute;
    z-index: 1;

    font-family: 'Josefin Sans', sans-serif;

    width: 150px;
    border-radius: 0px 0px 2px 2px;


}

.dropdown_content a {

    color: black;
    text-decoration: none;
    text-align: left;
    float: left;

    overflow: hidden;
    display: black;


    padding: 10px 10px;
    width: 100%;


}

.dropdown_content a:hover {
    background-color: black;
    color: white;


}

/*Billede Bokse info*/

.boks_wrapper_con img {
max-width: 300px;
max-height: 300px;

border-radius: 2%;


}

.boks_wrapper_con img:hover {

 border-radius: 80%;
    opacity: 0.5;

    transition: 1s;


}

.boks_wrapper_con {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0px;

    background-color: rgba(129, 103, 18, 0.58);



}

.boks_wrapper_item{

    flex-basis: 100px;

    padding: 10px 15px;
    border-radius: 2%;
    box-shadow: 5px 5px 30px rgba(13, 0, 0, 0.57);

    background-color: rgba(11, 77, 55, 0.24);
}

.boks_wrapper_item h2{

   font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1vw;
    padding: 1px;

color: white;
}


.boks_wrapper_item:hover {
    background-color: rgba(234, 125, 32, 0.84);


}



/*youtube*/

.youtube_con{

    display: flex;
    justify-content: center;

    background-color:rgba(3, 41, 25, 0.33);
    padding: 50px 0px;



}


.youtube_item{

    text-align: center;



}



iframe{

    border-radius: 20px;
    border: solid rgba(255, 1, 1, 0.35) 10px ;
    box-shadow: 10px 1px 80px rgba(0, 0, 0, 0.51);

    width: 800px;

    text-align: cen


}







































/*

.top_image_item img {

    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;




}

.container {

    position: relative;
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.top_image_item:hover .overlay {
    opacity: 1;
}


.sectionwrapper_con {

    display: flex;
    flex-wrap: wrap;


}

.column_item {

    flex-grow: 1;
    flex-basis: 400px;
    justify-content: space-between;
    margin: 20px;
    padding: 5px;


}

.column_content_con {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}



.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.8);
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.text {
    color: black;
    font-family: sans-serif;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
*/
