
h3 {
    font-family: 'Josefin Sans', sans-serif;

}

h4{ font-family: 'Open Sans', sans-serif;


}

p{ font-family: 'Open Sans', sans-serif;}


body{
    background-color: aquamarine;
}

nav{
    background-color: white;

}

.nav_con{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;



}

.nav_item{


}

.dropdown_con{
    display: flex;
    flex-direction: row;

}

.dropdown_con:hover .dropdown_item{
    display: block;
    flex-wrap: wrap;
}


.dropdown_item {


}

.dropbtn{


}

.dropdown_content{
    display: none;


}












